--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch
torchvision
torchaudio
pdfplumber
pymupdf
flask
sentence-transformers
numpy
faiss-cpu
streamlit